
:root{
   --titlesectionprimarycolor: rgb(95, 125, 151);
   --titlesectionsecondarycolor:rgb(169, 151, 141);
}   
   
   
#title{
      color: var(--titlesectionprimarycolor);
      text-align: center;
      padding-top: 200px;
      background-image: url('../mywebsite/images/photo-164448.avif');
      background-position: center top;
}

.title-section-header{
   margin-bottom: -11px;
}

.title-section-subtitle{
   margin-bottom: 40px;
}


.title-section-button{
   color: var(--titlesectionprimarycolor);
   border: solid var(--titlesectionprimarycolor) 1px;
   border-radius: 20px;
   padding: 15px 20px;
   background-color: transparent;
}
 .title-section-button:hover{
        background-color: var(--titlesectionprimarycolor);
        color: var(--titlesectionsecondarycolor);
         
 
}